*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
::selection
{
    color: black;
    background-color: yellow;
}
:root
{
    --white-color: white;
    --gainboro-color: gainsboro;
    --blue-color: dodgerblue;
    --grey-color: grey;
}
/* basic end */

/* nav start */

.header
{
    height: 630px;
    width: 100%;
    /* border: 1px solid red; */
    background-image: url(../images/back_animation.jpg);
    background-size: cover;
    
    
}
.nav
{
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #6A3FB2;
    box-shadow: 0px 0px 3px 0px ;
}
#logo
{
    height: 80px;
    width: 80px;
    
}
.navlink
{
    width: 40%;
}
.navlink .navlist
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navlink .navlist li
{
    list-style-type: none;
}

.navlink .navlist li a
{
    text-decoration: none;
    color: var(--white-color);
    padding: 10px;
    position: relative; 
}

a::after
{
    content: "";
    position: absolute;
    background-color: red;
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    /* transform-origin: bottom right; */
    transition: 0.25s;
    display: block;
}

a:hover::after
{
    width: 100%;
    left: 0;
    /* color: black; */
    /* border-bottom: 2px solid red;
    transform: scaleX(1);
    transform-origin: bottom left; */
    /* transition: 1.2s; */
    
}
/* .active 
{
    border: 1px solid var(--white-color);
    
    padding: 10px;
    border-radius: 5px;
} */
.toggle
{
    display: none;
}

.content h1
{
    padding-left: 250px;
    padding-top: 150px;
    color: var(--white-color);
}
.box_div
{
    /* height: 50px;
    width: 50%; */
    color: var(--white-color);
    text-align: center;
    /* padding-top: 15px; */
    margin: auto;
    margin-top: 40px;
    /* border-radius: 8px; */
    font-size: 20px;
    /* background-color: var(--white-color); */
    /* border: 1px solid var(--white-color); */
}
#btn
{
    padding: 10px;
    background-color: var(--white-color);
    border: 1px solid black;
    border-radius: 5px;
    /* width: 8%; */
    margin-top: 30px;
    font-weight: 700;
    /* margin-left: 15s0px; */
    color: #6A3FB2;
}
/* #arrow
{
    position: relative;
    top: 13px;
    color: rgb(230, 72, 132);
    font-size: 50px;
    padding-right: 100px;
     padding-left: 30px;
    padding-top: 13px; 

} */

/* nav end */

/* section start */

/* .images
{
    height: auto;
    width: 100%;
   
    padding-left: 150px;
    margin-top: 50px;
    background-color: ghostwhite;
}
.img
{
    height: 250px;
    width: 250px;
    margin: 50px;
    border: 2px solid var(--white-color);
    box-shadow: 0px 0px 15px 0px var(--grey-color);
    border-radius: 10px;
} */

.images
{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid red; */
    align-items: center;
    background-color: ghostwhite;
    
}
.flex_img
{
   height: 330px;
   /* width: 60%; */
   border: 1px solid var(--white-color);
   margin: 20px;
   box-shadow: 0px 0px 8px 8px white;
   /* border-bottom: 4px solid rgba(255, 0, 242, 0.548); */
}
.flex_img1
{
   height: auto;
   /* width: 40%; */
   margin: 20px;
}
#big_img
{
    height: 325px;
    width: 100%;
}
#img
{
    height: 200px;
   width: 100%;
}
/* section end */
/* section
{
    height: 600px;
} */
